@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(159, 154, 148);
    font-family: "Outfit", sans-serif;
}

nav {
    background-color: rgb(23, 23, 23);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    font-family: "Outfit", sans-serif;
}

.nav-button {
    background-color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    color: black;
    border-radius: 25px;
}

.nav-button:hover {
    cursor: pointer;
    background-color: rgb(51, 71, 55);
}

.Links  {
    padding-right: 50px;
}

.Links a {
    padding-right: 40px;
    text-decoration: none;
    color: white;
    font-family: "Outfit", sans-serif;
}

.Links a:hover {
    color: rgb(51, 71, 55);
    cursor: pointer;
}

.Sparkles {
    font-size: 30px;
    margin-right: 10px;
}

footer {
    background-color: rgb(23, 23, 23);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    height: 400px;
    font-family: "Outfit", sans-serif;
}

.funnyimage {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.title {
    text-align: center;
    margin: 2.5%;
}

code {
    font-size: 1.2em;
}

ul {
    padding-inline-start: 20px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
}

.game-info {
    margin-left: 20px;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-bottom: 5%;
}

.layout-2 {
    width: 40%;
}

.layout-3 {
    width: 40%;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.listItem {
    display: flex;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.inputTodo {
    padding: 10px;
    border-radius: 25px;
    border: solid black 1px;
}

.taskButton {
    padding: 10px 20px 10px 20px;
    margin-left: 1%;
    border: 0px; 
    background-color: rgb(23, 23, 23);
    color: white;
    border-radius: 25px;
}

.taskButton:hover {
    background-color: rgb(51, 71, 55);
    cursor: pointer;
}